.people{
	text-align: center;
	margin: 100px 0;
	position: relative;
	img{
		width: 105px;
	}
	> div{
		display: inline-block;
	}
	&.scrolling{
		.moot_left{
			transform: translateX(-100px);
		}
		.moot_right{
			transform: translateX(100px);
		}
	}

	#Layer_1{
		position: absolute;
	}
	#statOne{
		position: absolute;
		top: -20px;
		margin-left: 60px;
	}
}
