.people { text-align: center; margin: 100px 0; position: relative; }

.people img { width: 105px; }

.people > div { display: inline-block; }

.people.scrolling .moot_left { transform: translateX(-100px); }

.people.scrolling .moot_right { transform: translateX(100px); }

.people #Layer_1 { position: absolute; }

.people #statOne { position: absolute; top: -20px; margin-left: 60px; }
